

.box-model {
  background: black;
  padding: 2rem 0 2rem .5rem;
  color: white;
}

body
{
	background-color: #ffff66;
	margin: 0 auto;
}

#navShadow
{
	height: 7rem;
}




@media screen and (max-width: 39.9375em) {


/*join*/
	#joinUs{
		float: left;

	}

/*donate*/

#donateHead
	{
		margin-top: 1em;
		float: left;
	}



#donateHead h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 3em;
		margin-top: 3em;
	}

	#donateHead p
	{
		float: left;
		width: 30em;
		font-size: 0.8em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 3em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#donateSec
	{
		float: left;
		background-color:  #ccffcc;
		padding-bottom: 4em;

	}

	#donateSec h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 5.5em;
		border-bottom: dashed 2px #ff9999;

	}

	#donateSec p
	{
		float: left;
		width: 30em;
		font-size: 0.8em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 3em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#onegiftBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 7em;
		float: left;
	}

	#sponsor
	{
		float: left;
		background-color:  #ccffcc;
		padding-bottom: 4em;
		margin-top: 2em;

	}

	#sponsor h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 5.5em;
		border-bottom: dashed 2px #ff9999;

	}

	#sponsor p
	{
		float: left;
		width: 30em;
		font-size: 0.8em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 3em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#sponsorBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 7em;
		float: left;
	}



/*contact us*/

	#contactBody
	{
		background-color: #ccffcc;
	}

#contactHead h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 5em;
		float: left;
		margin-top: 3em;
	}

	#needHelp
	{
		background-color: black;
		float: left;
		margin-top: 2em;
	}

	#help1
	{
		color: white;
		font-family: 'Didact Gothic', sans-serif;
		padding-left: 3em;
		padding-right: 5em;
		padding-top: 1em;
		text-align: center;
	}

	#help2
	{
		font-family: 'Didact Gothic', sans-serif;
		color: #ff9999;
		padding-left: 3em;
		padding-right: 5em;
		text-align: center;
	}

	#contactForm
	{
		height: 40em;
		margin-top: 10em;
		width: 20em;
		margin-left: 2em;
		padding-bottom: 3em;
	}

/*meet jen*/

	#meetjen
	{
		float: left;
		margin-top: 5em;
	}

	#meetjen h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 5em;
	}

	#jenCartoon
	{
		margin-left: 1em;
		float: left;
	}

	#meetjen p
	{
		width: 25em;
		font-size: 0.5em;
		margin-left: 25em;
		background-color: #ccffcc;
		border-radius: 3em;
		padding: 2em;
		float: left;
		position: absolute;
	}

	#swipe
	{
		margin-left: 10em;
		margin-top: 20em;
		position: absolute;

	}

	#meettheteam
	{
		margin-top: 10em;
	}

#teamHead

	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 4em;
	}

	#evan
	{
		float: left;
		background-color: #ffffcc;
		margin-top: 2em;
		box-shadow: 0em 0.2em 1em #c2c24e;
		height: 11em;
		width: 20em;
	}

	#evanImg
	{
		float: left;
		position: absolute;
	}

	#illustrat
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.5em;
		margin-left: 1em;
		border-bottom: dashed 2px #ff9999;
		float: left;
	}

	#restofTeam
	{
		margin-top: 2em;
		float: left;
		margin-left: 2em;
		padding-bottom: 2em;
	}

	#evan p
	{
		width: 20em;
		font-size: 0.5em;
		font-family: 'Didact Gothic', sans-serif;
		float: left;
		position: absolute;
		margin-top: 5em;
		margin-left: 4em;
	}


	#evan img
	{
		float: left;
		position: absolute;
	}

	#clarence
	{
		float: left;
		margin-left: 1em;
	}

	#clarImg
	{
		float: left;
	}

	#clarence h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
	}

	#clarence p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		color: goldenrod;
	}

	#laura
	{
		float: left;
		margin-left: 1em;
	}

	#laurImg
	{
		float: left;
	}

	#laura h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: center;
	}

	#laura p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: center;
		color: goldenrod;
	}

	#kevin
	{
		float: left;
		margin-left: 1em;
	}

	#kevImg
	{
		float: left;
	}

	#kevin h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: right;
	}

	#kevin p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: right;
		color: goldenrod;
	}





/* meet chico */
#chicoPics
	{
		margin-top: 4em;
		margin-left: 1em;
		float: left;
	}

#chico2
	{
		margin-left: 8.5em;
		margin-top: 1em;
	}

#chicoHeader
	{
		margin-left: 11em;
		float: left;
	}

#chicoHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
	}

	#chicoPara
	{
		float: left;
		width: 20em;
		margin-left: 5em;
		background-color: #ccffcc;
		border-radius: 2em;
		padding: 1em 1em 0.5em 1em;
	}

	#chicoPara p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		text-align: center;
	}

	#paint
	{
		float:left;
		position: absolute;
		margin-top: 31.5em;
		margin-left: 12em;
	}

	#chicoNews
	{
		margin-top: 3em;
		float: left;
	}

	#newsHeader
	{
		margin-left: 9em;
		float: left;
	}

	#newsHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
	}

	#waterMeet
	{
		position: absolute;
	}

	#waterChico
	{
		float: left;
		position: absolute;
	}

	#article1
	{
		float: left;
		margin-top: 2em;
	}

	#article1 img
	{
		margin-left: 8.5em;
	}

	#text1
	{
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
		margin-top: 1em;
	}

	#article1 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 4em;
		margin-right: 2em;
		font-size: 1.2em;
		color: #ff9999;
	}

	#article1 p
	{
		width: 30em;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		margin-left: 6em;
		text-align: center;
		padding-bottom: 1em;

	}

	#article2
	{
		float: left;
		margin-top: 2em;
	}

	#article2 img
	{
		margin-left: 8.5em;
	}

	#text2
	{
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
		margin-top: 1em;
	}

	#article2 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 4em;
		margin-right: 2em;
		font-size: 1.2em;
		color: #ff9999;
	}

	#article2 p
	{
		width: 30em;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		margin-left: 6em;
		text-align: center;
		padding-bottom: 1em;

	}

	#article3
	{
		float: left;
		margin-top: 2em;
	}

	#article3 img
	{
		margin-left: 8.5em;
	}

	#text3
	{
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
		margin-top: 1em;
	}

	#article3 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 4em;
		margin-right: 2em;
		font-size: 1.2em;
		color: #ff9999;
	}

	#article3 p
	{
		width: 30em;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		margin-left: 6em;
		text-align: center;
		padding-bottom: 1em;

	}


/*Buy Book*/

#bodyBuy
	{
		background-image: url(../img/buy/bckgrnd.png);
	}

#buyHeader
	{
		margin-left: 8em;
		margin-top: 3em;
		margin-right: 7em;
	}

#buyHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
	}

	#waterBuy
	{
		position: absolute;
		margin-right: 3em;
	}

#bookImage
	{
		margin-left: 7em;
	}

#title
	{
		margin-left: 6em;
		margin-top: 2em;
	}

#title h3
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.5em;
		border-bottom: 2px solid #ccffcc;
	}

#summary
	{
		width: 20em;
		margin-left: 3.8em;
	}

#summary p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.9em;
		text-align: center;
	}

#learnBuyBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: #ff9999;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 4em;
	}

#BuyNow
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: #ff9999;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
		margin-left: 2em;
	}

	#BuyNow:hover
	{
		background-color: #ffcccc;
	}

	#learnBuyBut:hover
	{
		background-color: #ffcccc;
	}


#buyButtons
	{
		height: 7em;
	}



/* home*/
#nav
{
	background-color: #ffff99;
	height: 5.5rem;
	margin-top: 1em;
	box-shadow: 0rem 0.5em 1em #c2c24e;
	width: 28em;
}

#writeus1
	{
		display: none;
	}

#writeus2
	{
		display: none;
	}

#sendletter
	{
		display:none;
	}

#note
	{
		display: none;
	}

#desktopNav
	{
		display: none;
	}

	#whiteLogo
	{
		display: none;
	}

#logo
{
	float: left;
	margin-top: 0.2rem;
	margin-left: 1.5em;
	width: 13.4375em;
	height: 5.1875em;
}

#buyBook
{
	float: left;
	width: 3.6875em;
	margin-top: 0.9em;
	margin-left: 1em;
}

#hamMenu
{
	float: left;
	margin-left: 2em;
	margin-top: 1em;
}


.dropdown
{
	position: relative;

}

.menu
{
	display: none;
  	position: absolute;
	margin-top: 5.5em;
	margin-left: 0.5em;;
	background-color: white;
	padding: 1em 4em 1em 4em;
	z-index: 1;
}

.menu a
{
	color: black;
  	padding: 1em 4em 1em 4em;
 	text-decoration: none;
	font-size: 1.65em;
	font-family: 'Reenie Beanie', cursive;
	border-bottom: solid 1px #ff9999;
}

.menu a:hover
{
	background-color: #ffff66;
}

.show
{
	display: block;
}

#welcome
{
	margin-top: 2em;
}


#headerTitle
{
	margin: 0 auto;
	height: 25rem;
	width: 28em;
	background-color: #FEFF7C;
}

#ChicoCharity
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2em;
	margin-left: 2.5em;
}

#titleContainer
{
	background-color: #ccffcc;
	border-bottom: 0.3125em solid white;
	border-top: 0.3125em solid white;
	height: 3.5em;
	width: 28em;
	margin-top: 1.5em;
	box-shadow: 0em 0.2em 1em #c2c24e;
}


#introImg
{
	height: 12rem;
	width: 12rem;
	float: left;
}

#welcomeContent
{
	margin-left: 1.5em;
}

#welcomePic
{
	margin-left: 0.5em;
	margin-top: 2.81em;
	float: left;

}

#welcomePara
{
	width: 10rem;
	height: 6em;
	float: left;
	font-size: 0.7em;
	font-family: 'Didact Gothic', sans-serif;
	margin-left: 0.5em;
	margin-top: 5em;
	margin-right: 5em;


}

#buttonhead
{
	float: left;
	margin-top: 3.68em;
}

#donate
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #c2c24e;

}

#donate:hover
{
	background-color: #ffffcc;
}

#splat
{
	position: absolute;
	z-index: 0;
	margin-left: 15.25em;
	margin-top: 2.68em;
}

#headerTitle2
{
	margin: 0 auto;
	height: 6.35rem;
}

#storyDiv
{
	height: 2.8em;
	margin-top: 2em;
}

#ourStory
{
	background-color: #ff9999;
	height: 22.25em;

}

#storyHeader
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2.095em;
	float: left;
	margin-left: 1em;

}

#storyPic
{
	float: left;
	width: 209px;
	margin-top: 1em;
	margin-left: 0.8em;
}

#para1
{
	float: left;
	height: 7.5em;
	width: 12em;
	margin-top: 0.8125em;
	z-index: 1;
}

#storyContent
{
	background-color: #ffb7b7;
	width: 27em;
	height: 15em;
	float: left;

}

#storyPara
{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 0.5em;
	z-index: 1;
	position: absolute;
	width: 20em;

}

#splat2
{
	position: absolute;
	margin-left: 20em;
	z-index: 0;
}

#jenbut:hover
{
	background-color: #ffcccc;
}

#chibut:hover
{
	background-color: #ffcccc;
}


#buttonstory1
{
	float: left;
	margin-left: 4em;
	margin-top: 3em;
}

#jenbut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #db8383;

}

#buttonstory2
{
	float: left;
	margin-left: 3.125em;
margin-top: 3em;
}

#chibut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #db8383;
	z-index: 1;
	position: absolute;

}


#support
{
	margin: 0 auto;
	height: 15.375em;
	background-color: #ccffcc;

}

#supportHead
	{
		height: 2em;
		width: 17.5em;
		position: absolute;
		margin-top: 2.6em;
	}

#supportHeader
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.7em;
	float: left;
	margin-left: 1em;

}


#para2
{
	float: left;
	width: 10em;
	margin-left: 2em;
	position: absolute;
	margin-top: 6em;
}

#supPara
{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 0.8em;
}

#buttonsup1
{
	float: left;
	margin-right: 5em;
	margin-left: 18em;
	margin-top: 4.75em;
	position: absolute;
}

#donatebut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #99cc99;

}

#or
{
	float: left;
	margin-right: 10em;
	margin-left: 20.5em;
	margin-top: 8em;
}

#or1
{
	font-size: 1.5em;
	font-family: 'Reenie Beanie', cursive;
	position: absolute;

}


#buybut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #99cc99;

}

#buttonsup2
{
	float: left;
	margin-left: 17em;
	margin-top: 10.25em;
	position: absolute;
}

#buybut:hover
{
	background-color: #dcffdd;
}

#donatebut:hover
{
	background-color: #dcffdd;
}

#waterstain
{
	position: absolute;
	margin-top: 12em;
}

#topstain
{
	position: absolute;
	margin-left: 24em;

}

#headerstain2
{
	position: absolute;
	margin-top: 2em;
}


#footer
{
	background-color: black;
	height: 15em;

}

#letter
{
	color: white;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.8em;
	float: left;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 7em;

	width: 10em;
}

#envelope
{
	display: block;
	margin-left: 6.5em;
	width: 5em;
	float: left;
}

#backtotop
{
	margin-left: 7.8em;
	margin-top: 2em;
	width: 3.75em;
	float: left;
	display: block;
}

#socialmedia
{
	float: left;
	width: 8.56em;
	margin-left: 16.5em;
	margin-top: 2em;
}

#facebook
{
	float: right;
	margin-left: 0.5em;
}

#twitter
{
	float: right;
}

#insta
{
	float: right;
	margin-left: 0.5em;

}

#copyright p
{
	color: white;
	font-size: 0.625em;
	float: right;
	margin-top: 0.5em;
	margin-right: 1em;
}

	#Desktoplogo
	{
		display: none;
	}

	#pawIndent
	{
		display: none;
	}

	#footerNav
	{
		display: none;
	}


}


@media screen and (min-width: 40em) {


	/*donate*/

#donateHead
	{
		margin-top: 1em;
		float: left;
		margin-left: 7em;
	}



#donateHead h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 3em;
		margin-top: 3em;
	}

	#donateHead p
	{
		float: left;
		width: 30em;
		font-size: 1em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 1em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#donateSec
	{
		float: left;
		background-color:  #ccffcc;
		padding-bottom: 4em;


	}

	#donateSec h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 5.5em;
		border-bottom: dashed 2px #ff9999;

	}

	#donateSec p
	{
		float: left;
		width: 30em;
		font-size: 0.8em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 3em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#onegiftBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 15em;
		float: left;
		position: relative;
	}

	#sponsor
	{
		float: left;
		background-color:  #ccffcc;
		padding-bottom: 4em;
		margin-top: 2em;

	}

	#sponsor h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 5.5em;
		border-bottom: dashed 2px #ff9999;

	}

	#sponsor p
	{
		float: left;
		width: 30em;
		font-size: 0.8em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 3em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#sponsorBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 15em;
		float: left;
	}




	/*contact us*/

	#contactBody
	{
		background-color: #ccffcc;
	}

#contactHead h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 8em;
		float: left;
		margin-top: 1em;
	}

	#needHelp
	{
		background-color: black;
		float: left;
		margin-top: 2em;
		margin-left: 7em;
	}

	#help1
	{
		color: white;
		font-family: 'Didact Gothic', sans-serif;
		padding-left: 3em;
		padding-right: 5em;
		padding-top: 1em;
		text-align: center;
	}

	#help2
	{
		font-family: 'Didact Gothic', sans-serif;
		color: #ff9999;
		padding-left: 3em;
		padding-right: 5em;
		text-align: center;
	}

	#contactForm
	{
		height: 40em;
		margin-top: 15em;
		width: 38em;
		margin-left: 2em;
		padding-bottom: 3em;
	}

/*meet jen*/

	#meetjen
	{
		float: left;
		margin-top: 5em;
		margin-left: 5em;
	}

	#meetjen h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 6em;
	}

	#jenCartoon
	{
		margin-left: 1em;
		float: left;
	}

	#meetjen p
	{
		width: 25em;
		font-size: 0.7em;
		margin-left: 20em;
		background-color: #ccffcc;
		border-radius: 3em;
		padding: 2em;
		float: left;
		position: absolute;
	}

	#swipe
	{
		margin-left: 10em;
		margin-top: 25em;
		position: absolute;

	}

	#meettheteam
	{
		margin-top: 15em;
		margin-left: 10em;
	}

#teamHead

	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 4em;
	}

	#evan
	{
		float: left;
		background-color: #ffffcc;
		margin-top: 2em;
		box-shadow: 0em 0.2em 1em #c2c24e;
		height: 11em;
		width: 20em;
	}

	#evanImg
	{
		float: left;
		position: absolute;
	}

	#illustrat
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.5em;
		margin-left: 1em;
		border-bottom: dashed 2px #ff9999;
		float: left;
	}

	#restofTeam
	{
		margin-top: 2em;
		float: left;
		margin-left: 2em;
		padding-bottom: 2em;
	}

	#evan p
	{
		width: 20em;
		font-size: 0.5em;
		font-family: 'Didact Gothic', sans-serif;
		float: left;
		position: absolute;
		margin-top: 5em;
		margin-left: 4em;
	}


	#evan img
	{
		float: left;
		position: absolute;
	}

	#clarence
	{
		float: left;
		margin-left: 1em;
	}

	#clarImg
	{
		float: left;
	}

	#clarence h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
	}

	#clarence p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		color: goldenrod;
	}

	#laura
	{
		float: left;
		margin-left: 1em;
	}

	#laurImg
	{
		float: left;
	}

	#laura h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: center;
	}

	#laura p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: center;
		color: goldenrod;
	}

	#kevin
	{
		float: left;
		margin-left: 1em;
	}

	#kevImg
	{
		float: left;
	}

	#kevin h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: right;
	}

	#kevin p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: right;
		color: goldenrod;
	}



/* meet chico */
#chicoPics
	{
		margin-top: 4em;
		margin-left: 1em;
		float: left;
	}

#chico1
	{
		width: 244px;
		height: 161px;
	}

#chico2
	{
		margin-left: 8.5em;
		margin-top: 1.6em;
		width: 264px;
		height: 181px;
	}

#chicoHeader
	{
		margin-left: 17em;
		float: left;
	}

#chicoHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
	}

	#chicoPara
	{
		float: left;
		width: 25em;
		margin-left: 9em;
		background-color: #ccffcc;
		border-radius: 2em;
		padding: 1em 1em 0.5em 1em;
		margin-top: 2em;
	}

	#chicoPara p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		text-align: center;
	}

	#paint
	{
		float:left;
		position: absolute;
		margin-top: 35em;
		margin-left: 18em;
	}

	#chicoNews
	{
		margin-top: 3em;
		float: left;
	}

	#newsHeader
	{
		margin-left: 15em;
		margin-top: 5em;
		float: left;
	}

	#newsHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
	}

	#waterMeet
	{
		position: absolute;
	}

	#waterChico
	{
		float: left;
		position: absolute;
	}

	#article1
	{
		float: left;
		margin-top: 2em;
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
	}

	#article1 img
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
		padding-bottom: 2em;
	}



	#article1 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
		color: #ff9999;
		float: left;
		margin-left: 2em;
		margin-top: 1em;

	}

	#article1 p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		margin-left: 3em;
		padding-bottom: 1em;
		width: 20em;
		float: left;

	}

	#readMore
	{

		float: left;
		margin-left: 15em;
		position: absolute;
		margin-top: 10em;
	}



	#readMore a h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		color: cadetblue;
		text-decoration: none;
		list-style-type: none;

	}

	#article2
	{
		float: left;
		margin-top: 2em;
	}

	#article2 img
	{
		margin-left: 8.5em;
	}

	#text2
	{
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
		margin-top: 1em;
	}

	#article2 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 4em;
		margin-right: 2em;
		font-size: 1.2em;
		color: #ff9999;
	}

	#article2
	{
		float: left;
		margin-top: 2em;
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
	}

	#article2 img
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
		padding-bottom: 2em;
	}



	#article2 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
		color: #ff9999;
		float: left;
		margin-left: 2em;

	}

	#article2 p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		margin-left: 3em;
		padding-bottom: 1em;
		width: 20em;
		float: left;

	}

	#readMore2
	{

		float: left;
		margin-left: 15em;
		position: absolute;
		margin-top: 10em;
	}



	#readMore2 a h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		color: cadetblue;
		text-decoration: none;
		list-style-type: none;

	}

	#article3
	{
		float: left;
		margin-top: 2em;
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
	}

	#article3 img
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
		padding-bottom: 2em;
	}



	#article3 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
		color: #ff9999;
		float: left;
		margin-left: 2em;
		margin-top: 1em;

	}

	#article3 p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		margin-left: 3em;
		padding-bottom: 1em;
		width: 20em;
		float: left;

	}

	#readMore3
	{

		float: left;
		margin-left: 15em;
		position: absolute;
		margin-top: 10em;
	}



	#readMore3 a h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		color: cadetblue;
		text-decoration: none;
		list-style-type: none;

	}







/*buy book*/

#bodyBuy
	{
		background-image: url(../img/buy/bckgrnd.png);
	}

#buyHeader
	{
		margin-left: 15em;
		margin-top: 3em;
		margin-right: 10em;
	}

#buyHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 1em;
	}

	#waterBuy
	{
		position: absolute;
	}

#bookImage
	{
		margin-left: 1em;
		margin-top: 3em;
		float: left;
	}

	#bookCover
	{
		width: 321px;
		height: 321px;
	}

#title
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
	}

#title h3
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.5em;
		border-bottom: 2px solid #ccffcc;
	}

#summary
	{
		width: 17em;
		float: left;
		position: absolute;
		margin-top: 12em;
		margin-left: 23em;
	}

#summary p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.9em;
	}

#learnBuyBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: #ff9999;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 4em;
	}

#BuyNow
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: #ff9999;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
		margin-left: 2em;
	}

	#BuyNow:hover
	{
		background-color: #ffcccc;
	}

	#learnBuyBut:hover
	{
		background-color: #ffcccc;
	}


#buyButtons
	{
		height: 7em;
		margin-left: 9em;
		margin-top: 1em;
	}



/*home*/
#nav
{
	background-color: #ffff99;
	height: 5.5rem;
	margin-top: 1em;
	box-shadow: 0rem 0.5em 1em #c2c24e;
	min-width: 40em;
}

	#writeus1
	{
		display: none;
	}

	#writeus2
	{
		display: none;
	}

	#sendletter
	{
		display:none;
	}

	#note
	{
		display: none;
	}

#desktopNav
	{
		display: none;
	}

	#whiteLogo
	{
		display: none;
	}

#Desktoplogo
	{
		display: none;
	}

#logo
{
	float: left;
	margin-top: 0.2rem;
	margin-left: 1.5em;
}

#buyBook
{
	float: left;
	width: 3.6875em;
	margin-top: 0.9em;
	margin-left: 15em;
}

#hamMenu
{
	float: left;
	margin-left: 2em;
	margin-top: 1em;
}


.dropdown
{
	position: relative;

}

.menu
{
	display: none;
  	position: absolute;
	margin-left: 6em;
	margin-top: 4.5em;
	background-color: #ffff99;
	padding: 2em 4em 2em 4em;
	z-index: 1;
}

.menu a
{
	color: black;
  	padding: 1em 4em 1em 4em;
 	text-decoration: none;
	font-size: 1.875em;
	font-family: 'Reenie Beanie', cursive;
	border-bottom: solid 1px #ff9999;
}

.menu a:hover
{
	background-color: #ffff66;
}

.show
{
	display: block;
}

#welcome
{
	margin-top: 2em;
}


#headerTitle
{
	margin: 0 auto;
	height: 25rem;
	width: 39.9375em;
	background-color: #FEFF7C;
}

#ChicoCharity
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2.3em;
	margin-left: 9.5rem;
}

#titleContainer
{
	background-color: #ccffcc;
	border-bottom: 0.3125em solid white;
	border-top: 0.3125em solid white;
	height: 3.5em;
	margin-top: 1.5em;
	box-shadow: 0em 0.2em 1em #c2c24e;
}


#introImg
{
	height: 12rem;
	width: 12rem;
	float: left;
}

#welcomeContent
{
	margin-left: 1.5em;
}

#welcomePic
{
	margin-left: 3em;
	margin-top: 2.81em;
	float: left;

}

#welcomePara
{
	width: 19.68rem;
	height: 6em;
	float: left;
	font-family: 'Didact Gothic', sans-serif;
	margin-left: 3.1875em;
	margin-top: 2.81em;


}

#buttonhead
{
	float: left;
	margin-left: 3.125em;
	margin-top: 2.68em;
}

#donate
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #c2c24e;

}

#donate:hover
{
	background-color: #ffffcc;
}

#splat
{
	position: absolute;
	z-index: 0;
	margin-left: 25.25em;
	margin-top: 2.68em;
}

#headerTitle2
{
	margin: 0 auto;
	height: 6.35rem;
}

#storyDiv
{
	height: 2.8em;
	margin-top: 2em;
	margin-left: 1em;

}

#ourStory
{
	background-color: #ff9999;
	height: 20.25em;

}

#storyHeader
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2.095em;
	float: left;

}

#storyPic
{
	float: left;
	width: 12em;
	margin-top: 0.8125em;

}

#para1
{
	float: left;
	height: 7.5em;
	width: 20.1em;
	margin-top: 0.8125em;
	margin-left: 0.8em;
		z-index: 1;
}

#storyContent
{
	background-color: #ffb7b7;
	width: 50em;
	height: 9em;


}

#storyPara
{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 0.7em;
	z-index: 1;
	position: absolute;
	width: 30em;

}

#splat2
{
	position: absolute;
	margin-left: 29em;
	z-index: 0;
}

#jenbut:hover
{
	background-color: #ffcccc;
}

#chibut:hover
{
	background-color: #ffcccc;
}


#buttonstory1
{
	float: left;
	margin-left: 14.7em;
	margin-top: 1.68em;
}

#jenbut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #db8383;

}

#buttonstory2
{
	float: left;
	margin-left: 3.125em;
	margin-top: 1.68em;
}

#chibut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #db8383;
	z-index: 1;
	position: absolute;

}


#support
{
	margin: 0 auto;
	height: 15.375em;
	background-color: #ccffcc;

}

#supportHeader
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2.095em;
	float: left;
	margin-top: 1em;
	margin-left: 1em;
}


#para2
{
	float: left;
	width: 18.75em;
	margin-left: 5em;
	margin-top: 6em;
	position: absolute;
}

#supPara
{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1em;
}

#buttonsup1
{
	float: left;
	margin-right: 5em;
	margin-left: 30em;
	margin-top: 4.75em;
	position: absolute;
}

#donatebut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #99cc99;

}

#or
{
	float: left;
	margin-right: 3em;
}

#or1
{
	font-size: 1.5em;
	font-family: 'Reenie Beanie', cursive;
	position: absolute;
	margin-left: 9.2em;
	margin-top: 5.2em;

}


#buybut
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #99cc99;

}

#buttonsup2
{
	float: left;
	margin-left: 29em;
	margin-top: 10.25em;
	position: absolute;
}

#buybut:hover
{
	background-color: #dcffdd;
}

#donatebut:hover
{
	background-color: #dcffdd;
}

#waterstain
{
	position: absolute;
	margin-top: 12em;
}

#topstain
{
	position: absolute;
	margin-left: 43em;
}

#headerstain2
{
	position: absolute;
	margin-top: 2em;
}


#footer
{
	background-color: black;
	height: 11em;
}

#letter
{

	color: white;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.8em;
	float: left;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 8em;
}

#envelope
{
	margin-left: 13.5em;
	width: 5em;
	float: left;
	display: block;
}

#backtotop
{
	margin-left: 7.8em;
	margin-top: 2em;
	width: 3.75em;
	float: left;
}

#socialmedia
{
	float: left;
	width: 8.56em;
	margin-left: 6em;
}

#facebook
{
	float: right;
	margin-left: 0.5em;
}

#twitter
{
	float: right;
}

#insta
{
	float: right;
	margin-left: 0.5em;

}

#copyright p
{
	color: white;
	font-size: 0.625em;
	float: right;
	margin-top: 1em;
	margin-right: 1em;
}

	#pawIndent
	{
		display: none;
	}

	#footerNav
	{
		display: none;
	}

}



@media screen and (min-width: 64em){


	/*donate*/

#donateHead
	{
		margin-top: 1em;
		float: left;
		margin-left: 7em;
	}



#donateHead h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 9em;
		margin-top: 3em;
	}

	#donateHead p
	{
		float: left;
		width: 30em;
		font-size: 1em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 11em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#donateSec
	{
		float: left;
		background-color:  #ccffcc;
		padding-bottom: 4em;


	}

	#donateSec h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 3em;
		float: left;
		margin-left: 5.5em;
		border-bottom: dashed 2px #ff9999;

	}

	#donateSec p
	{
		float: left;
		width: 30em;
		font-size: 0.8em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 3em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#onegiftBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 22em;
		float: left;
		position: relative;
	}

	#sponsor
	{
		float: left;
		background-color:  #ccffcc;
		padding-bottom: 4em;
		margin-top: 2em;

	}

	#sponsor h2
	{
		font-family: 'Reenie Beanie', cursive;
font-size: 3em;
		float: left;
		margin-left: 5.5em;
		border-bottom: dashed 2px #ff9999;

	}

	#sponsor p
	{
		float: left;
		width: 30em;
		font-size: 0.8em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 3em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#sponsorBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 22em;
		float: left;
	}


	/*contact us*/

	#contactBody
	{
		background-color: #ccffcc;
	}

	#contactHead
	{
		margin-top: 5em;
	}

#contactHead h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 18em;
		float: left;
	}

	#needHelp
	{
		background-color: black;
		float: left;
		margin-top: 2em;
		margin-left: 10em;
		width: 60em;
	}

	#help1
	{
		color: white;
		font-family: 'Didact Gothic', sans-serif;
		padding-left: 3em;
		padding-right: 5em;
		padding-top: 1em;
		text-align: center;
	}

	#help2
	{
		font-family: 'Didact Gothic', sans-serif;
		color: #ff9999;
		padding-left: 3em;
		padding-right: 5em;
		text-align: center;
	}

	#contactForm
	{
		height: 45em;
		width: 45em;
		margin-left: 15em;
		padding-bottom: 3em;
		padding-top: 5em;
	}
	/*meet jen*/

	#meetjen
	{
		float: left;
		margin-top: 8em;
		margin-left: 10em;
	}

	#meetjen h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 6em;
	}

	#jenCartoon
	{

		float: left;
		width: 250px;
		height: 290px;
	}

	#meetjen p
	{
		width: 40em;
		font-size: 0.8em;
		margin-left: 21em;
		background-color: #ccffcc;
		border-radius: 3em;
		padding: 2em;
		float: left;
		position: absolute;
	}

	#swipe
	{
		margin-left: 10em;
		margin-top: 15em;
		position: absolute;

	}

	#meettheteam
	{
		margin-top: 5em;
		margin-left: 10em;
	}

#teamHead

	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		margin-left: 4em;
	}

	#evan
	{
		float: left;
		background-color: #ffffcc;
		margin-top: 2em;
		box-shadow: 0em 0.2em 1em #c2c24e;
		height: 11em;
		width: 20em;
	}

	#evanImg
	{
		float: left;
		position: absolute;
	}

	#illustrat
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.5em;
		margin-left: 1em;
		border-bottom: dashed 2px #ff9999;
		float: left;
	}

	#restofTeam
	{
		margin-top: 2em;
		float: left;
		margin-left: 10em;
		padding-bottom: 2em;
	}

	#evan p
	{
		width: 20em;
		font-size: 0.5em;
		font-family: 'Didact Gothic', sans-serif;
		float: left;
		position: absolute;
		margin-top: 5em;
		margin-left: 4em;
	}


	#evan img
	{
		float: left;
		position: absolute;
	}

	#clarence
	{
		float: left;
		margin-left: 1em;
	}

	#clarImg
	{
		float: left;
	}

	#clarence h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
	}

	#clarence p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		color: goldenrod;
	}

	#laura
	{
		float: left;
		margin-left: 1em;
	}

	#laurImg
	{
		float: left;
	}

	#laura h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: center;
	}

	#laura p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: center;
		color: goldenrod;
	}

	#kevin
	{
		float: left;
		margin-left: 1em;
	}

	#kevImg
	{
		float: left;
	}

	#kevin h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: right;
	}

	#kevin p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		margin: 0;
		text-align: right;
		color: goldenrod;
	}




/* meet chico */
#chicoPics
	{
		margin-top: 4em;
		margin-left: 14em;;
		float: left;
	}

#chico1
	{
		width: 244px;
		height: 161px;
	}

#chico2
	{
		margin-left: 8.5em;
		margin-top: 1.6em;
		width: 264px;
		height: 181px;
	}

#chicoHeader
	{
		margin-left: 29em;
		float: left;
	}

#chicoHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
	}

	#chicoPara
	{
		float: left;
		width: 40em;
		margin-left: 15em;
		background-color: #ccffcc;
		border-radius: 2em;
		padding: 1em 1em 0.5em 1em;
		margin-top: 2em;
	}

	#chicoPara p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.9em;
		text-align: center;
	}

	#paint
	{
		float:left;
		position: absolute;
		margin-top: 37em;
		margin-left: 32em;
	}

	#chicoNews
	{
		margin-top: 3em;
		float: left;
	}

	#newsHeader
	{
		margin-left: 29em;
		margin-top: 5em;
		float: left;
	}

	#newsHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
	}

	#waterMeet
	{
		position: absolute;
	}

	#waterChico
	{
		float: left;
		position: absolute;
	}

	#article1
	{
		float: left;
		margin-top: 2em;
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
		margin-left: 10em;
	}

	#article1 img
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
		padding-bottom: 2em;
	}



	#article1 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
		color: #ff9999;
		float: left;
		margin-left: 2em;
		margin-top: 1em;

	}

	#article1 p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.9em;
		margin-left: 3em;
		width: 30em;
		padding-bottom: 1em;
		float: left;

	}

	#readMore
	{

		float: left;
		margin-left: 16em;
		position: absolute;
		margin-top: 10em;
	}



	#readMore a h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		color: cadetblue;
		text-decoration: none;
		list-style-type: none;

	}

	#article2
	{
		float: left;
		margin-top: 2em;
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
		margin-left: 10em;
	}

	#article2 img
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
		padding-bottom: 2em;
	}



	#article2 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
		color: #ff9999;
		float: left;
		margin-left: 2em;
		margin-top: 1em;

	}

	#article2 p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.9em;
		margin-left: 3em;
		width: 30em;
		padding-bottom: 1em;
		float: left;

	}

	#readMore2
	{

		float: left;
		margin-left: 16em;
		position: absolute;
		margin-top: 10em;
	}



	#readMore2 a h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		color: cadetblue;
		text-decoration: none;
		list-style-type: none;

	}

	#article3
	{
		float: left;
		margin-top: 2em;
		background-color: #ffff99;
		box-shadow: 0em 0.2em 1em #c2c24e;
		margin-left: 10em;
	}

	#article3 img
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
		padding-bottom: 2em;
	}



	#article3 h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
		color: #ff9999;
		float: left;
		margin-left: 2em;
		margin-top: 1em;

	}

	#article3 p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.9em;
		margin-left: 3em;
		width: 30em;
		padding-bottom: 1em;
		float: left;

	}

	#readMore3
	{

		float: left;
		margin-left: 16em;
		position: absolute;
		margin-top: 10em;
	}



	#readMore3 a h2
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.7em;
		color: cadetblue;
		text-decoration: none;
		list-style-type: none;

	}

/*buy book*/

	#buyHeader
	{
		margin-left: 24em;
		margin-top: 8em;
		margin-right: 10em;
	}

#buyHeader h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2.5em;
	}

	#waterBuy
	{
		position: absolute;
		width: 298px;
		height: 78px;
		margin: 0;
	}

#bookImage
	{
		margin-left: 13em;
		margin-top: 3em;
		float: left;
	}

	#bookCover
	{
		width: 321px;
		height: 321px;
	}

#title
	{
		margin-left: 2em;
		margin-top: 2em;
		float: left;
	}

#title h3
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		border-bottom: 2px solid #ccffcc;
	}

#summary
	{
		width: 19em;
		float: left;
		position: absolute;
		margin-top: 18em;
		margin-left: 35em;
	}

#summary p
	{
		font-family: 'Didact Gothic', sans-serif;
		font-size: 0.9em;
	}

#learnBuyBut
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: #ff9999;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
	margin-left: 4em;
	}

#BuyNow
	{
		padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: #ff9999;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em grey;
		margin-left: 2em;
	}

	#BuyNow:hover
	{
		background-color: #ffcccc;
	}

	#learnBuyBut:hover
	{
		background-color: #ffcccc;
	}


#buyButtons
	{
		height: 7em;
	}


/*home*/
	#logo
	{
		display:none;
	}

	#nav
	{
		display: none;
	}

	#desktopNav
	{
		display: block;
		background-color: #ffff99;
		height: 5.5rem;
		box-shadow: 0rem 0.5em 1em #c2c24e;
		margin-top: 2em;
		margin: 0 auto;
	}

	#buyBook
	{
		display: none;
	}

	#hamMenu
	{
		display: none;
	}



	#navpart1
	{
		list-style-type: none;
		margin: 0;
 		padding: 0;
		float: left;


	}

	#navpart1 li
	{
		display: inline;
		float: left;
		margin-left: 2em;
	}

	#navpart1 li a
	{
		display: block;
		text-align: center;
  		padding: 0.7em 0.5em;
 	 	text-decoration: none;
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.6em;
		color: black;

	}

	#Desktoplogo
	{
		float: left;
		margin: 0 auto;
		position: absolute;
		display: block;

	}

	#mainlogo
	{
		height: 12.5em;
		width: 9.4em;
		position: absolute;
		margin: 0;
		margin-left: 28em;
	}

	#navpart2
	{
		list-style-type: none;
		margin: 0;
 		padding: 0;
		float: left;
		margin-left: 12em;


	}

	#navpart2 li
	{
		display: inline;
		float: left;
		margin-left: 2em;
	}

	#contact
	{
		margin-left: 16em;
	}

	#navpart2 li a
	{
		display: block;
		text-align: center;
  		padding: 0.7em 0.5em ;
 	 	text-decoration: none;
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.6em;
		color: black;
	}

	#mainBuybut
	{
		padding: 0.5em 1em 0.5em 1em;
		background-color: white;
		border-radius: 1em;
		font-family: 'Reenie Beanie', cursive;
		font-size: 1.2em;
		box-shadow: 0em 0.3em 0.5em #bcbba8;
		margin-top: 1.2em;
		float: left;
		margin-left: 1.3em;

	}

	#mainBuybut:hover
	{
		background-color: #ff9999;
	}

	.navPaw
	{
		display: none;
		position: absolute;
		z-index: 0;
		float: left;
		padding: 0;
		margin-top: 1.8em;
	}

	#paw1
	{
		display: none;
		position: absolute;
		z-index: 0;
		float: left;
		padding: 0;
		margin-top: 1.8em;
	}

	#welcome
	{
		margin-top: 6em;
		width: 80em;
		height: 30em;
	}

	#titleContainer
{
		background-color: #ccffcc;
		border-bottom: 0.3125em solid white;
		border-top: 0.3125em solid white;
		height: 5em;
		margin-top: 3em;
		box-shadow: 0em 0.2em 1em #c2c24e;
		position: absolute;
		z-index: 0;
}

	#headerTitle
	{
		min-width:64em;
		width: 80em;
	}

	#ChicoCharity
	{
		margin-top: 0.3em;
		margin-left: 10.5em;
	}

	#whiteLogo
	{
		display: none;
		float: left;
		margin-left: 66.5em;
		position: absolute;
		z-index: 1;
	}

	#welcomeContent
	{
		margin-top: 10em;
	}

	#welcomePic
	{
		width: 250px;
		height: 250px;
	}

	#introImg
	{
		width: 18.75em;
		margin-left: 13em;
	}

	#buttonhead
	{
		margin-left: 16em;
	}

	#splat
	{
		margin-left: 48em;
	}

	#ourStory
	{
		width: 80em;
		margin: 0px;
		height: 30em;
		padding:0;
		border:0;
		margin-right: 15em;
		background-color: #ff9999;

	}

	#storyDiv
	{
		margin-right: 30em;
		margin-left: 35em;

	}

	#storyHeader
	{
		font-size: 2.5em;
	}

	#buttonstory1
	{
		margin: 0;
		margin-left: 14em;
		margin-top: 5em;
	}

	#buttonstory2
	{
		margin: 0;
		margin-top: 5em;
		margin-left: 1em;
	}

	#storyContent
	{
		width: 80em;
		height: 20em;

	}

	#storyimg
	{
		height: 231px;
		width: 482px;

	}

	#storyPic
	{
		width: 30em;
		margin-left: 8em;
		margin-top: 2em;
	}

	#para1
	{
		margin-top: 3em;
	}

	#storyPara
	{
		font-size: 1em;
	}

	#splat2
	{
		margin-left: 70em;
	}

	#note
	{
		display: block;
		margin-left: 20em;
		float: left;
	}

	#support
	{
		height: 30em;
	}

	#supportHead
	{
		background-color: red;
		margin-left: 27em;
		margin-top: 2em;
	}

	#headerstain2
	{
		margin-left: 27em;
	}

	#para2
	{

		margin-left:40em;
		margin-top: 6.5em;
	}

	#waterstain
	{
		margin-top: 25em;
	}


	#buttonsup1
	{
		margin-top: 15em;
		margin-left: 40em;
	}

	#buttonsup2
	{
		margin-top: 15em;
		margin-left: 50em;
	}

	#or
	{
		margin-left: 34em;
		margin-top: 7em;
		position: absolute;
	}

	#topstain
	{
		margin-left: 75em;
	}

	#backtotop
	{
		display:none;
	}

	#footer
	{
		height: 30em;

	}

	#letter
	{
		margin-left: 5em;
		margin-top: 2em;
	}

	#sendletter
	{
		display: block;
		float: left;
	}

	#fastenvelope
	{
		width: 30em;
		margin-left: 10em;
	}

	#envelope
	{
		display: none;
	}

	#writeus1
	{
		display: block;
		margin-top: 5em;

	}

	#writeus1 p
	{
		color: white;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.2em;
	}

	#writeus2
	{
		display:block;
		width: 10em;
		margin-left: 51em;

	}

	#writeus2 p
	{
		color: white;
		font-family: 'Didact Gothic', sans-serif;
		font: 1.6em;
		text-align: center;
	}

	#pawIndent
	{
		display: block;
		margin-left: 26em;
		float: left;
		width: 10em;
	}

	#socialmedia
	{
		float: right;
		margin-top: 5em;
		margin-right: 5em;
	}

	#copyright
	{
		float: left;
	}

#footerNav
	{
		display:block;
		list-style-type: none;
		margin: 0;
 		padding: 0;
		height: 10em;
		width: 15em;

	}

	#footerNav li
	{
		float: left;
		display: inline;
		margin-left: 1em;
	}

	#footerNav li a
	{
		display: block;
  		padding: 0.2em 0.8em;
 	 	text-decoration: none;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1em;
		color: white;
		text-align:left;

	}



#join
{
  margin: 0 auto;
}

}

@media screen and (min-width: 70em){

	#donateHead
	{
		margin-top: 1em;
		float: left;
		margin-left: 14em;
	}



#donateHead h2
	{
		font-family: 'Reenie Beanie', cursive;
		font-size: 2em;
		float: left;
		margin-left: 9em;
		margin-top: 3em;
	}

	#donateHead p
	{
		float: left;
		width: 30em;
		font-size: 1em;
		font-family: 'Didact Gothic', sans-serif;
		margin-left: 11em;
		background-color:  #ccffcc;
		padding: 2em;
	}

	#donateSec
	{
		box-shadow: 0em 0.2em 1em grey;
		margin-top: 2em;
	}

	#sponsor
	{
		box-shadow: 0em 0.2em 1em grey;
		margin-top: 2em;
	}


	/*meet chico*/

	#meetChico
	{
		margin-left: 7em;
	}

	#chicoNews
	{
		margin-left: 7em;

	}

	/*buy book*/

	#buyAbook
	{
		margin-left: 6em;
	}

	/*home*/
	#navpart1
	{
		margin-left: 14em;
		margin-top: 0.6em;
	}

	#whiteLogo
	{
		display: block;
	}


	#navpart1 li
	{
		margin-left: 1em;
	}

	#navpart1 li a
	{
		font-size: 1.4em;
	}

	#navpart2
	{
		width: 18em;
		margin-left: 10em;
		margin-top: 0.6em;
	}

	#navpart2 li
	{
		margin-left: 1em;
	}

	#navpart2 li a
	{
		font-size: 1.4em;
	}

	#mainlogo
	{
		margin-left: 35em;
	}

	#mainBuybut
	{
		margin-left: 0
	}

	#ChicoCharity
	{
		margin-left: 13.7em;
	}


}
