@media screen and (max-width: 39.9375em)
{

}

.box-model {
  background: black;
  padding: 2rem 0 2rem .5rem;
  color: white;
}

body
{
	background-color: #ffff66;
}

#navShadow
{
	height: 7rem;
}

#nav
{
	background-color: #ffff99;
	height: 4.6rem;
	margin-top: 1em;
	box-shadow: 0rem 0.5em 1em #c2c24e;
	float: left;
}

#logo
{
	float: left;
	margin-top: 0.2rem;
	margin-left: 1.5em;
}

#buyBook
{
	float: left;
	margin-left: 17em;
	margin-top: 0.7em;
}

#hamMenu
{
	float: left;
	margin-left: 2em;
	margin-top: 1em;
}

#headerTitle
{
	margin: 0 auto;
	height: 25rem;
	width: 39.9375em;
	background-color: #FEFF7C;
}

#ChicoCharity
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2.3em;
	margin-left: 9.5rem;
}

#titleContainer
{
	background-color: #ccffcc;
	border-bottom: 0.3125em solid white;
	border-top: 0.3125em solid white;
	height: 3.5em;
	margin-top: 1.5em;
	box-shadow: 0em 0.2em 1em #c2c24e;
}


#introImg
{
	height: 12rem;
	width: 12rem;
	float: left;
}

#welcomeContent
{
	margin-left: 1.5em;
}

#welcomePic
{
	margin-left: 3em;
	margin-top: 2.81em;
	float: left;

}

#welcomePara
{
	width: 19.68rem;
	height: 6em;
	float: left;
	font-family: 'Didact Gothic', sans-serif;
	margin-left: 3.1875em;
	margin-top: 2.81em;


}

#buttonhead
{
	float: left;
	margin-left: 3.125em;
	margin-top: 2.68em;
}

#donate
{
	padding: 0.5em 1.3em 0.5em 1.3em;
	background-color: white;
	border-radius: 1em;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.25rem;
	box-shadow: 0em 0.3em 0.5em #c2c24e;
	
}

#donate:hover
{
	background-color: #ffffcc;
}

#splat
{
	position: absolute;
	z-index: 0;
	margin-left: 25.25em;
	margin-top: 2.68em;
}

#headerTitle2
{
	margin: 0 auto;
	height: 6.35rem;
}

#storyDiv
{
	background-color: 
}

#ourStory
{
	background-color: #ff9999;
	height: 17.25em;
}

#storyHeader
{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2.095em;
	margin-top: 1em;
	margin-left: 0.7em;

}

#storyPic
{
	float: left;
	width: 209px;
	margin-top: 0.8125em;
	margin-left: 0.8em;
}

#para1
{
	float: left;
	height: 7.5em;
	width: 22.1em;
	margin-top: 0.8125em;
	margin-left: 0.8em;
}

#storyContent
{
	background-color: #ffb7b7;
	width: 40em;
	height: 8.69em;
}

#storyPara
{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 0.7em;
}


#support
{
	margin: 0 auto;
	height: 6.35rem;
}



#pic1
{
	float: left;
	margin-right: 0.3215rem;
	margin-left: 1.8215rem;
}

#pic2
{
	float: left;
}

#pic12
{
	float: left;
	margin-right: 0.3215rem;
	margin-left: 1.8215rem;
}

#pic22
{
	float: left;
}

#newsTitle
{
	margin: 0 auto;
}
